- type: job
  id: Overseer
  name: job-name-overseer
  description: job-description-overseer
  requirements:
  - !type:CharacterSpeciesRequirement
    species:
    - Human
  - !type:CharacterDepartmentTimeRequirement
    department: Vault
    min: 36000 # 10 hours
  playTimeTracker: Overseer
  weight: 20
  startingGear: OverseerGear
  alwaysUseSpawner: true
  icon: "JobIconVaultOverseer" # Corvax-Change
  requireAdminNotify: true
  joinNotifyCrew: true
  canBeAntag: false
  supervisors: job-supervisors-vault-overseer
  accessGroups:
  - VaultOverseer
  special:
  - !type:AddComponentSpecial
    components:
      - type: NpcFactionMember
        factions:
          - Vault

- type: startingGear
  id: OverseerGear
  equipment:
    jumpsuit: N14ClothingUniformJumpsuitVault14
    back: N14ClothingBackpackVaultBlue # Corvax-Change
    shoes: N14ClothingBootsBlack
    eyes: ClothingEyesGlassesSunglasses
    id: N14VaultOverseerPDA
    ears: N14ClothingHeadsetVaultDweller
    pocket1: N14WeaponPistol10mm
  innerClothingSkirt: N14ClothingUniformJumpsuitVault14
  storage: # Corvax-Change
    back:
    - N14Bandage
    - N14CurrencyPrewarMoney500
    - N14CurrencyPrewarMoney500

- type: playTimeTracker
  id: Overseer
